@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply bg-surface-50 dark:bg-surface-900;
  }
}

:root.dark {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}
